# Python cache and compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# SQLite database
*.db
*.sqlite3

# Logs
*.log

# Excel exports
*.xlsx
*.xls



# Env and config files
.env
*.env


# IDE files
.idea/

# System files
.DS_Store
Thumbs.db

# Virtual environment
venv/
env/
